@model Forum.WebApp.Models.CreatePostViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Post</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Content" class="control-label"></label>
                <textarea rows="10" class="form-control" asp-for="Content"></textarea>
                <!--<input asp-for="Content" class="form-control" />-->
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <label asp-for="TopicId" class="control-label">Topic</label>
                <input class="form-control" asp-for="TopicId"/>
            </div>
            <div class="form-group" hidden>
                <label asp-for="MemberId" class="control-label">Member</label>
                <input class="form-control" asp-for="MemberId" />
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
